.venv/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.ipynb_checkpoints/
.pytest_cache/
.DS_Store
.env
data/raw/bike_sharing/*
!data/raw/bike_sharing/README.md
data/raw/bank_account_fraud/*
!data/raw/bank_account_fraud/README.md
data/processed/*
!data/processed/README.md
artifacts/*
!artifacts/README.md
notebooks/*
!notebooks/README.md
/local-freeze*.txt
